<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SAPUI5</title>
	<!-- src="https://sapui5.hana.ondemand.com/resources/sap-ui-core.js" -->
	<!-- src="/sapui5/sap-ui-core.js" -->
	<script id="sap-ui-bootstrap"
		src="https://sapui5.hana.ondemand.com/resources/sap-ui-core.js"
		data-sap-ui-theme="sap_belize"
		data-sap-ui-compatVersion="edge"
		data-sap-ui-async="true"
		data-sap-ui-frameOptions="trusted"
		data-sap-ui-oninit="module:sap/ui/core/ComponentSupport"
		data-sap-ui-resourceroots='{
			"OpenUI5":"./",
			"sap.ui.demo.mock": "mockdata"
		}'
		>
	</script>
	<!-- Kakao Map -->
	<!--  script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ca0c6090e6714a632ded610ecfc83745"></script -->

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,500,600,700&display=swap" rel="stylesheet">

	<!-- axios -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="sapUiBody" id="content" onload="setTimeout(function() {window.scrollTo(0, 1)}, 100)">
	<div data-sap-ui-component
		data-name="OpenUI5"
		data-height="100%"
		data-id="container"
		data-settings='{"id":"OpenUI5"}'
		style="height: 100%">
	</div>
</body>
</html>